*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /*background: #000;*/
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #fca311;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 15%;
    border-bottom: 3px solid #c27904;
}

header a{
    color: #000000;
}

.logo{
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-decoration: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

#intro{
    padding: 40px 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #fca311;
    margin-top: 111px;
}

#text{
    width: 50%;
    align-self: center;
    margin-right: 100px;
}

#text h1{
    margin-bottom: 30px;
}

#intro-image img{
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#work-types-gallery{
    padding: 20px 15%;
    text-align: center;
}

#images-container{
    display: flex;
    flex-wrap: wrap;
}

#work-image{
    height: 200px;
    width: 200px;
}

#work-image img{
    height: auto;
    max-width: 50px;
}