*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /*background: #000;*/
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #fca311;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 15%;
    border-bottom: 3px solid #c27904;
}

header a{
    color: #000000;
}

.logo{
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-decoration: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

#last{
    margin-right: 0px;
}

#intro{
    padding: 40px 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #fca311;
    margin-top: 111px;
}

#text{
    width: 50%;
    align-self: center;
    margin-right: 100px;
}

#text h1{
    margin-bottom: 30px;
}

#intro-image img{
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#work-types-gallery{
    padding: 30px 15%;
    text-align: center;
}

#images-container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-image{
    height: 330px;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.work-image img{
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.contact-form-container{
    background-color: #e5e5e5;
    padding: 30px 15%;
}

.contact-box{
    background-color: #ffffff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: #fca311;
    color: white;
}
h3{
    margin-bottom: 10px;
}
.contact-form-container p{
    margin-bottom: 30px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #fca311;
}

button{
    background-color: rgb(252, 163, 17);
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(252, 163, 17, 0.3);
}

.contact-left h3{
    color: #fca311;
    font-weight: 700px;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 700px;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}